.addPostContainer {
  max-width: 560px;
  margin-left: 57px;
  margin-bottom: 30px;
  background: #313131;
  padding: 20px;
  position: relative;
  text-align: left;
}

.addPostContainer input {
  width: calc(100% - 20px);
  max-width: 100%;
  resize: none;
  background: #1f1f1f;
  display: inline-block;
  line-height: 38px;
  color: #fff;
  padding: 0 10px;
  border: 1px solid #1f1f1f;
  font-family: Open Sans;
  outline: 0;
}

.addPostContainer .contentType > button {
  font-size: 13px;
  height: 70px;
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  display: inline-flex;
  border-radius: 3px;
  background: #505050;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: calc(25% - 10px);
  margin: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.addPostContainer .info {
  color: #6e7578;
  font-weight: 400;
  font-size: smaller;
}

.addPostContainer .optional {
  color: #6e7578;
  font-weight: 400;
}

.addPostContainer .contentType > button:hover {
  background: #777;
}

.addPostContainer .contentType > button > svg {
  font-size: 22px;
}

.addPostContainer .categories label {
  background: #505050;
  color: #fff;
  padding: 3px 9px;
  margin: 5px;
  font-weight: normal;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border: none;
}

.addPostContainer .categories label.active {
  background: #c03e3e;
}

.addPostContainer .categories label input {
  display: none;
}

.emptyButton {
  background: transparent;
  border: none;
  color: #6e7578;
  font-size: 11px;
  cursor: pointer;
}

.tags {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.tags > .tagItem {
  background: #1f1f1f !important;
  border-radius: 3px !important;
  color: #fff !important;
  height: 35px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags > .tagItem > .title {
  border-right: 1px solid #2f2f2f;
  padding-right: 8px;
  font-size: 11px;
}

.tags > .tagItem > button {
  background: transparent;
  cursor: pointer;
  border: none;
  color: white;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.linking > label {
  background: transparent !important;
  border: none !important;
  text-decoration: underline;
  color: #6e7578 !important;
}

.linking > label > input {
  display: none;
}

.addCancelButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCancelButtons > button {
  display: inline-block;
  min-width: 160px;
  line-height: 30px;
  border-right: 5px;
  font-family: Open Sans;
  color: #fff;
  margin: 0 10px;
  display: block;
  background: #777;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 160px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  outline: 0 !important;
}

.addCancelButtons > button.submit {
  background: #c03e3e;
}

.imageContainer {
  display: flex;
  min-height: 300px;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 13px;
  gap: 10px;
  margin: 10px 0;
  cursor: pointer;
  background: #252525;
  position: relative;
}

.imageContainer video {
  max-width: 100%;
  height: auto;
}

.imageContainer > img {
  max-width: 100%;
}

.imageContainer > span:first-child {
  font-size: 32px;
}

.imageContainer > span:nth-child(3) {
  color: #777;
}

.imageContainer > button {
  background: #505050;
  color: #fff;
  font-size: 13px;
  border: 0;
  border-radius: 3px;
  line-height: 34px;
  padding: 0 15px;
  cursor: pointer;
}

.imageContainer > button:hover {
  background: #696969;
}

.memElement {
  margin-top: 15px;
  position: relative;
}

.memElement > button {
  display: block;
  margin-left: auto;
  background: transparent;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

button.changeImage,
button.changeVideoBtn {
  position: absolute;
  bottom: 15px;
  right: 10px;
  background: #505050;
  color: #fff;
  font-size: 13px;
  border: 0;
  border-radius: 3px;
  line-height: 34px;
  padding: 0 15px;
  cursor: pointer;
}

.youtube {
  background: #1f1f1f;
  padding: 15px;
  position: relative;
}

.youtube h3 {
  margin: 0 0 8px 0;
}

.youtube input {
  background: #313131 !important;
}

.ql-toolbar {
  background: #252525;
}

.quill {
  border-radius: 5px;
  border: 1px solid #999;
}

.ql-container {
  background: #181818;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: rgb(222, 33, 39) !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: rgb(222, 33, 39) !important;
}

.moveButton {
  border-radius: 3px;
  background: #000 !important;
  color: #fff;
  width: 25px;
  height: 25px;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 5px;
  top: 6px;
  z-index: 10;
  font-size: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: move !important;
}

p.error {
  padding: 0;
  margin: 0;
  color: rgb(222, 33, 39);
  font-size: 11px;
}
