.posts {
  flex: 1 1;
  display: flex;
}

.post {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.post > .avatar img {
  width: 40px;
  height: 40px;
}

.contentPost a {
  text-decoration: none;
}

.contentPost h2 {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 5px 10px;
  margin-bottom: 5px;
}

.contentPost img {
  max-width: 100%;
  height: auto;
}

.contentPost > .comments > .comment > .likes {
  font-size: 20px;
  float: right;
}

.contentPost > .comments > .comment > .likes > span {
  margin: 5px;
}

.contentPost > .comments > .comment > .likes button {
  border-radius: 5px;
  background-color: darkred;
  color: white;
  font-size: 18px;
  width: 30px;
  box-shadow: 1px 1px 3px black;;
}

.contentPost > .comments > .comment {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2px;
  padding: 5px 15px;
  width: calc(100% - 34px);
}

.contentPost > .comments > .comment > p {
  width: 100%;
}

