.posts {
  flex: 1 1;
  display: flex;
}

.post {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.post > .avatar img {
  width: 40px;
  height: 40px;
  margin: 0 8px;
}

.post > .contentPost > .postHeader {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
  margin-bottom: 4px;
}

.post > .contentPost > .postHeader > h2 {
  padding: 0;
  margin: 0;
}

.post > .contentPost > .postHeader > .iconComments {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post > .contentPost > .postHeader > .iconComments > svg {
  margin-right: 6px;
  opacity: 0.6;
}

.post > .buttonsPost {
  min-width: 50px;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.post > .buttonsPost > * {
  margin: 8px 0;
}

.post > .buttonsPost > button,
.post > .buttonsPost > .buttonsCoins > button {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  width: 50px;
  min-height: 40px;
  background: rgba(0, 0, 0, 0.5);
}

.post > .buttonsPost > .buttonsCoins > button {
  opacity: 0.6;
  padding: 3px;
  display: block;
}

.post > .buttonsPost > .buttonsCoins > button:hover {
  opacity: 1;
}

.buttonsCoins > button > img {
  width: 25px;
  margin-bottom: 5px;
}

.buttonsCoins > button > span {
  font-size: 13px;
  display: flex;
  font-weight: 700;
}

.buttonsCoins > button > span > img {
  width: 14px;
  height: auto;
  margin-left: 3px;
}

.post > .buttonsPost > .coins {
  background: rgba(255, 255, 255, 0.05);
  height: 55px;
}

.post > .buttonsPost > .coins > img {
  width: 25px;
}

.post > .buttonsPost > .star.active {
  color: #f0cc00;
}

.post > .buttonsPost > .plus {
  font-size: 32px;
  background: linear-gradient(180deg, #c03e3e 0, #b23333 50%, #ac2f2f);
}

.post > .buttonsPost > .plus.added {
  background: linear-gradient(180deg, #94b425 0, #8dac20 50%, #87a61c);
}

.memDetails {
  font-size: 12px;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.memDetails > .userAddTimeDetails > .addTime {
  margin: 0 8px;
  color: #777;
}

.otherLikes {
  display: flex;
}

.likeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  padding: 0 8px;
}

.likeContainer > .image {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.likeContainer > .image > img {
  width: 18px;
  height: 18px;
}

.likeContainer > .image > span {
  display: none;
  font-size: 11px;
  position: absolute;
  padding: 3px 5px;
  bottom: calc(100% + 6px);
  background-color: black;
  left: 50%;
  font-weight: normal;
  border-radius: 3px;
  transform: translateX(-59%);
}

.likeContainer > .image > span:after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: calc(100% - 15px);
  left: 50%;
  background-color: black;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.likeContainer > .image:hover > span {
  display: block;
}

.memDetails > .userAddTimeDetails > .userName {
  color: rgb(222, 34, 33);
}

.contentPost a {
  text-decoration: none;
}

.contentPost img {
  max-width: 100%;
  height: auto;
}

.contentPost > .comments > .comment > .likes {
  font-size: 20px;
  float: right;
}

.contentPost > .comments > .comment > .likes > span {
  margin: 5px;
}

.contentPost > .comments > .comment > .likes button {
  border-radius: 5px;
  background-color: darkred;
  color: white;
  font-size: 18px;
  width: 30px;
  box-shadow: 1px 1px 3px black;
}

.contentPost > .comments > .comment {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 2px;
  padding: 5px 15px;
  width: calc(100% - 34px);
}

.contentPost > .comments > .comment > p {
  width: 100%;
}
